snippet vsf "vue file"
<template>
	<div></div>
</template>
<script>
export default {
	name: '$0',
	data() {
	  return {}
	},
  methods: {

	}
}
</script>
<style lang="less" scoped>
</style>
endsnippet
